.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

a.carousel-control-next {
  width: 0% !important;
  height: 0% !important;
  display: none !important;
}
a.carousel-control-prev {
  width: 0% !important;
  height: 0% !important;
  display: none !important;
}
