body {
  margin: 0;
  padding: 0;
}

.fullScreen {
  height: 100vh;
  overflow: hidden;
}

.carHero {
  height: 100%;
  margin: 0;
  padding: 0;
}

.pHP {
  font-weight: bolder;
}

.h3HP {
  font-weight: bolder;
  font-size: larger;
}

.btnHero {
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 6px;
  font-weight: bolder;
  cursor: pointer;
  transition-duration: 400ms, 300ms, 200ms, 100ms;
  transition-property: padding, background-image, border, color;
  margin-top: 10px;
}

.btnHero:hover {
  padding: 10px;
  border: none;
  background-color: transparent;
  background-image: url("../../public/circulo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: transparent;
}

.heroTextBox {
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 20px 20px 20px 20px;
  padding: 25px 25px;
  max-height: 80vh;
  max-width: 33vw;
}

.customCaption {
  display: flex;
  align-items: center;
  height: 100%;
  left: 5% !important;
}

.carHeroM {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 750px) {
  .heroTextBox {
    max-width: 40vw;
  }
}

@media (max-width: 620px) {
  .heroTextBox {
    max-width: 45vw;
  }
}

@media (max-width: 580px) {
  .carHero {
    display: none;
  }
  .customCaption {
    justify-content: center;
    left: 15% !important;
  }
  .heroTextBox {
    width: 70vw;
    max-width: 100vw;
  }
  .btnHero {
    padding: 4px;
  }
  .btnHero:hover {
    padding: 7px;
  }
}

@media (min-width: 581px) {
  .carHeroM {
    display: none;
  }
}

@media (max-width: 250px) {
  .heroTextbox {
    width: 85vw;
  }
  .btnHero {
    padding: 2px;
  }
  .btnHero:hover {
    padding: 3px;
  }
}
