body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */ /* Para evitar desbordamiento vertical en el cuerpo */
}

.full-screen {
  height: 100vh;
  overflow: hidden;
}

.car-hero {
  height: 100%;
  margin: 0; /* Elimina cualquier margen del Carousel */
  padding: 0; /* Elimina cualquier relleno del Carousel */
}

.carousel-inner {
  height: 100%; /* Asegúrate de que el contenido interno del Carousel ocupe el 100% de su altura */
}

.carousel-item {
  height: 100%; /* Asegúrate de que cada item del Carousel ocupe el 100% de la altura */
}

.carousel-item img {
  object-fit: cover; /* Ajusta la imagen para que cubra todo el área del item */
  height: 100%;
  width: 100%;
}

p {
  /* color: rgb(255, 102, 0); */
  /* -webkit-text-stroke: 0.3px black; */
  /* text-shadow: 4px 2px 10px #000000;
  font-size: larger; */
  font-weight: bolder;
}

h3 {
  /* color: rgb(255, 102, 0) !important; */
  /* -webkit-text-stroke: 0.3px black; */
  font-weight: bolder;
  font-size: larger;
}

.btn-hero {
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 6px;
  font-weight: bolder;
  cursor: pointer;
  /* transition: background-image 2s ease-in-out 1s; */ /* Transición suave */
  transition-duration: 400ms, 300ms, 200ms, 100ms;
  transition-property: padding, background-image, border, color;
  margin-top: 5px;
}

.btn-hero:hover {
  /* color: rgb(255, 102, 0);
  border: 2px solid rgb(255, 102, 0); */
  /* Estilos del botón cuando se hace hover */
  padding: 10px;
  border: none;
  background-color: transparent; /* Hacer transparente el color de fondo */
  background-image: url("../../public/images/circulo.png"); /* Ruta de la imagen */
  background-size: contain; /* Ajustar la imagen para cubrir todo el botón */
  background-repeat: no-repeat;
  background-position: center; /* Centrar la imagen */
  color: transparent; /* Hacer el texto transparente para que no se vea */
}

.hero-text-box {
  background-color: rgba(0, 0, 0, 0.811);
  border-radius: 20px 20px 20px 20px;
  padding: 20px 40px;
  max-height: 80vh;
  max-width: 35vw;
}

.custom-caption {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100%;
  left: 5% !important;
}

/* .carousel .carousel-control-next-icon.changed {
  background-image: url(../../public/images/caret-right-solid.svg);
  align-items: start;
}

.carousel .carousel-control-prev-icon.changed {
  background-image: url(../../public/images/caret-left-solid.svg);
  align-items: start;
} */

a.carousel-control-next {
  width: 0% !important;
  height: 0% !important;
  display: none !important;
}
a.carousel-control-prev {
  width: 0% !important;
  height: 0% !important;
  display: none !important;
}

.car-hero-m {
  height: 100%;
  margin: 0; /* Elimina cualquier margen del Carousel */
  padding: 0; /* Elimina cualquier relleno del Carousel */
}

@media (max-width: 750px) {
  .hero-text-box {
    max-width: 40vw;
  }
}

@media (max-width: 620px) {
  .hero-text-box {
    max-width: 45vw;
  }
}

@media (max-width: 580px) {
  .car-hero {
    display: none;
  }
  .custom-caption {
    justify-content: center;
    left: 15% !important;
  }
  .hero-text-box {
    width: 70vw;
    max-width: 100vw;
  }
  .btn-hero {
    padding: 4px;
  }
  .btn-hero:hover {
    padding: 7px;
  }
}

@media (min-width: 581px) {
  .car-hero-m {
    display: none;
  }
}

@media (max-width: 250px) {
  .hero-text-box {
    width: 85vw;
  }
  .btn-hero {
    padding: 2px;
  }
  .btn-hero:hover {
    padding: 3px;
  }
}
