.infinite-carousel {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 20%;
}

.infinite-carousel-inner {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.infinite-carousel-item {
  flex: 0 0 100%;
  padding: 5px;
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
