.square-button {
  border-radius: 0; /* Elimina el borde redondeado */
  height: 40px; /* Altura del botón */
  width: 50px; /* Ancho del botón */
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid orange; /* Borde de 4px de color naranja */
  padding: 0; /* Elimina cualquier padding adicional */
  font-weight: 700;
  color: white;
}

.custom-button:hover,
.custom-button:focus {
  border-color: orange;
  color: rgb(255, 166, 0); /* Texto naranja en hover y focus */
  background-color: rgb(0, 0, 0);
  box-shadow: 0 0 10px white;
}

.ancho-input {
  max-width: 350px;
}
