.contenedor-md {
  padding-top: 100px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
}

.contenedor-rc {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  min-height: 70vh;
}

.contenedor-hijo-rc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.table-header th {
  background-color: RGB(255, 102, 0);
  color: #ffffff;
  font-weight: bold;
}

.table-body td {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.tabla-reserva-clase {
  width: 100%;
}

.titulo-izquierda {
  text-align: left;
  width: 100%;
  padding-left: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  list-style: none;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination li a {
  text-decoration: none;
  color: rgb(255, 102, 0);
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination li.active a {
  background-color: rgb(255, 102, 0);
  color: white;
}

.pagination li.disabled a {
  color: #ddd;
}

.pagination li a:hover {
  background-color: rgb(255, 120, 0);
  color: white;
}
.boton-Dia-Clase {
  background-color: RGB(255, 102, 0);
  font-weight: bold;
  border: none;
}
.boton-Dia-Clase:hover {
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}

.reservar-ancho {
  width: 110px !important;
}

.boton-tabla-reserva {
  background-color: RGB(255, 102, 0);
  font-weight: bold;
  border: none;
}

.boton-tabla-reserva:hover {
  background-color: rgb(0, 0, 0);
  font-weight: bold;
}

@media (min-width: 1400px) {
  .tabla-reserva-clase {
    max-width: 80vw;
    min-width: 80vw;
  }

  .titulo-izquierda {
    text-align: left;
    width: 100%;
    padding-left: 10vw;
  }
}
