body,
html {
  height: 100%;
}

body {
  background-color: #000 !important;
}

.image-container {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.background-image {
  width: 100%;
  height: 70%;
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
  mask-image: linear-gradient(#fff, transparent);
}

.text-overlay {
  margin-top: 10vh;
  width: 80vw;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0px;
  border-radius: 10px;
}

h1 {
  margin: 0;
  font-size: 3rem !important;
}

p {
  font-size: 1rem;
}

.card {
  width: 100%;
  height: 100% !important;
  border: 1px solid rgb(255, 255, 255) !important;
  border-radius: 10px;
  /* overflow: hidden; */
  background: linear-gradient(to bottom, white 50%, black 50%);
  text-align: center;
  margin: 20px auto;
  padding: 20px;
}
.card img {
  border-radius: 50%;
  border: 5px solid white;
  width: 65%;
  align-self: center;
}
.card h2,
.card h3 {
  margin: 10px 0;
}
.card p {
  color: white;
  margin: 20px 0 0;
}

.card-container {
  background-color: #000;
  padding-bottom: 10vh !important;
}

@media (min-width: 650px) {
  h4 {
    margin-bottom: 10vh !important;
  }
}

@media (min-width: 581px) {
  .image-m {
    display: none;
  }
  .fund-m {
    display: none;
  }
}
@media (max-width: 580px) {
  .image-d {
    display: none;
  }
  .fund-d {
    display: none;
  }
  h1 {
    font-size: 2rem !important;
  }
  h4 {
    font-size: 1.2rem !important;
  }
  p {
    font-size: 0.8rem;
  }
  .image-container {
    height: 50vh;
  }
  .background-image {
    height: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.9rem !important;
  }
  h4 {
    font-size: 1.1rem !important;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 1.6rem !important;
  }
  h4 {
    font-size: 1rem !important;
    margin-bottom: 0 !important;
  }
  p {
    font-size: 0.6rem;
  }
}

@media (max-width: 275px) {
  h1 {
    font-size: 1.4rem !important;
  }
  h4 {
    font-size: 0.8rem !important;
    margin-bottom: 0 !important;
  }
  .text-overlay {
    margin-top: 7vh;
  }
}

@media (min-width: 670px) and (max-width: 740px) {
  .card h2,
  .card h3 {
    margin: 20px 0;
  }
  .card p {
    margin: 10px 0 0;
  }
}

@media (min-width: 581px) and (max-width: 669px) {
  .card h2,
  .card h3 {
    margin: 25px 0;
  }
  .card p {
    margin: 5px 0 0;
  }
}
